.btn {
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  border-radius: 3px !important;
}

.btn-regular {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: #f8f8f8;

  &.extended {
    padding-left: 50px;
    padding-right: 50px;
  }

  &:hover {
    background-color: var(--color-secondary) !important;
    border: 1px solid var(--color-secondary) !important;
    opacity: 0.9;
  }

  &.rounded{
    border-radius: 30px !important;
  }
}

.btn-regular-outlined {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);

  &:hover{
    background-color: transparent !important;
    border: 1px solid var(--color-secondary) !important;
    color: var(--color-secondary) !important;
    opacity: 0.9;
  }
}
