*,
html {
  box-sizing: border-box;
}

body{
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  color: var(--color-primary);
  line-height: 26px;
}

h1{
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: inherit;
}

p{

}
