.section {
  background-color: var(--color-section-bg);
  border-radius: 9px;
  padding: 1rem 3rem 2.5rem 3rem;

  .wrapper {
    margin: 4rem 0 0 0;
    display: flex;
    justify-content: center;
    gap: 5rem;
  }

  .each-info-circle {
    max-width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .circle {
      height: 225px;
      width: 225px;
      border-radius: 50%;

      padding-top: 3rem;
      text-align: center;
      color: #fff;
      font-size: 42px;
      font-weight: 800;
      line-height: 40px;

      background: #ef3e2d;
      opacity: 0.8;
      &.selected {
        opacity: 1;
      }
    }

    .info {
      margin: 2rem 0 0 0;
      font-size: 23px;
      font-weight: 600;
      text-align: center;
      line-height: 27px;
    }
  }
}

@media screen and (max-width: 991px) {
  .section {
    .wrapper {
      margin: 2rem 0 0 0;
      gap: 1.5rem;
    }

    .each-info-circle {
      max-width: 160px;
      .circle {
        height: 160px;
        width: 160px;
        font-size: 24px;
        line-height: 26px;
        padding: 2.5rem 1.5rem;
        &.selected {
        }
      }

      .info {
        margin: 0.75rem 0 0 0;
        font-size: 16px;
        line-height: 15px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .section {
    padding: 0.5rem 1rem 1.5rem 1rem;
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .each-info-circle {
      width: 262px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      max-width: 100%;
      padding: 0;
      .circle {
        width: 98px;
        height: 98px;
        font-size: 19px;
        line-height: 18px;
        padding: 2.5rem 1rem;
        padding-bottom: 0;
        padding-top: 1.5rem;
        &.selected {
        }
      }

      .info {
        text-align: left;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}
