:host {
  --color-section-bg: #f8f8f8;
}

::ng-deep {
  .section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: 1.2rem 0;
  }

  .section-description {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }



  @media screen and (max-width: 991px) {
    .section-title {
      font-size: 28px;
      line-height: 36px;
      margin: 1rem 0;
    }
  }

  @media screen and (max-width: 575px) {
    .section-title {
      font-size: 18px;
      line-height: 26px;
      margin: 0.5rem 0;
    }
    .section-description {
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
    }
  }
}



.container {
  background-color: #fff;
  padding: 1rem 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.full-block{
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #D0ECF6;
  .container{
    background-color: transparent !important;
  }

  &.bg-blue{
    background-color: #052460;
    margin-top: 0;
  }
}

.section-page-header {
  .page-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    margin: 1.5rem 0 2rem;
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding: 1.5rem;
  }

  .section-page-header {
    margin-top: 0;

    .page-title {
      font-size: 48px;
      line-height: 52px;
      margin: 2rem 0;
    }
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding: 0.5rem .75rem;
  }

  .section-page-header {
    margin-top: 0;

    .page-title {
      font-size: 28px;
      line-height: 32px;
      margin: 1.5rem 0;
    }
  }

  .full-block{
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}
